body {
    background-color: #776d8a;
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Grandstander', cursive;
    text-align: center;
    margin-top: 2.1rem;
}

.container {
    display: flex;
}

img {
    width: 90%;
    border-radius: 2rem;
    margin: 1rem auto;
}

button {
    flex-grow: 1;
    margin: 1em;
    border: 2px solid #dbe3e5;
    border-radius: 3rem;
    background-color: #d3c09a;
    outline: none;
    cursor: pointer;
    box-shadow: 5px 5px 7px 4px #dbe3e5;
}

button:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    .container {
        display: block;
        width: 75%;
        margin: auto;
        text-align: center;
    }

    button {
        text-align: center;
        width: 50%;
    }
}